.post-wrapper {
  width: 365px;
  height: 174px;
  float: left;
  position: relative;

  background-position: center center;
  background-size: cover;

  border: 1px solid #fff;

  margin-right: 15px;
  margin-bottom: 15px;

  transition: all 300ms ease-out;

  &.last {
    margin-right: 0;
  }

  .layer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all 300ms ease-out;
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;
    color: rgb(0, 59, 94);
    overflow-wrap: break-word;
    text-align: center;
    padding: 0 30px;
    .layer-wrapper {
      text-align: center;
      font-weight: 700;
      border-bottom: 1px solid #003b5e;


        h2 {
          color: rgb(0, 59, 94);
          font-family: "Helvetica 65 Medium";
          font-size: 25px;
          text-align: center;
          margin-bottom: 0;
        }

      .caption {
        font-size: 13px!important;
        padding: 5px;
        font-weight: normal;
        overflow: hidden;
        padding-top: 0!important;
      }
    }
  }

  .main-title {
    h2 {
      font-family: "Helvetica 65 Medium";
      font-size: 25px;
      color: #fff;
      text-align: center;
      margin-top: 75px;
      text-shadow: 2px 4px 3px rgba(0,0,0,.3);
    }
  }

  &:hover {
    .main-title {
      opacity: 0;
    }

    .layer {
      opacity: 1;
    }
  }
}

