.entry-content {
    color: #FFFFFF;
    p {
        color: #FFFFFF;
        font-family: 'Helvetica-Neue';
        font-size: 15px;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 19px;
    }

    img {
        width: 100%;
    }
}

.title-share {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 20px;
    .josiane-share {
        height: 45px;
    }
}

.network-list {
    width: 140px;
    margin: 0 auto;
    .icon {
        float: left;
        width: 40px;

        &.icon-fb {
            margin: 0 10px;
        }
    }
}

.other {
    width: 1145px;
    margin: 0 auto;
    margin-top: 65px;
    padding: 0 7.5px;
    .previous-post {
        height: 177px;
        background-size: cover;
        width: 371px;
        float: left;

        position: relative;
        border: 1px solid #FFFFFF;
        &:hover {
            .titles {
                visibility: visible;
                opacity: 1;
            }

            .wp-titles-main-title {
                visibility: hidden;
            }
        }
        &.middle {
            margin: 0 8px;
        }
    }

    .next-post {
        height: 200px;
        background-size: cover;
        width: 50%;
        float: left;
    }

    .titles {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.85);
        color: #fff;
        bottom: 0;
        padding: 5px 5px 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s linear;
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        word-wrap: break-word;
        opacity: 0;

        .titles-wrapper {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid #003b5e;
            margin: 15% 30px;
        }

        .title {
            margin: 0;
            overflow: hidden;
            padding: 5px;
            padding-top: 2px;
            font-size: 20px;
            font-family: 'Helvetica 65 Medium';
            color: #003b5e;
        }

        .subtitle {
            padding: 5px;
            font-size: 13px;
            font-weight: normal;
            overflow: hidden;
            color: #003b5e;
        }
    }
}

.legende-post {
    margin-bottom: 15px;
    font-size: 12px;
}

.back-link {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 40px;
    a {
        font-family: 'Helvetica-Neue';
        font-weight: 300;
        color: #FFFFFF;
        font-size: 24px;
        display: inline-block;
        padding: 20px 20px 17px;
        border: 1px solid #FFFFFF;

        &:hover {
            text-decoration: none;
        }
    }
}

.block-post {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #fff;
}

.plain-color {
    margin: 0;
}

.only-text {
    font-size: 12px;
}

.entry-content > .vc_row {
    margin: 0;
    margin-bottom: 15px;
}


.wpb_content_element {
    margin-bottom: 0;
}

.vc_col-has-fill {
    padding: 0 7.5px;
}

.vc_column_container>.vc_column-inner {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.title-post {
    margin: 0 7.5px;
    h1 {
        font-size: 53px;
        border-bottom: 1px solid #fff;
        font-weight: normal;
        margin-bottom: 20px;
    }
}
