.page {
    background-color: #003b5e;
    text-shadow: none;
    color: #fff;
    .ui-content {
        background-color: #003b5e;
        text-shadow: none;
        color: #fff;
        padding: 0;
    }

    &.ui-overlay-a {
        background-color: #003b5e;
        text-shadow: none;
        color: #fff;
        border: none;
    }

    .main-page {
        background-color: #003b5e;
        padding: 0 10px;
    }
}

.main-page {
    background-color: #003b5e!important;
    text-shadow: none!important;
    color: #fff!important;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

#menu-link {
    position: absolute;
    z-index: 1000;
    right: 20px;
    top: 10px;
    font-size: 40px;
    color: #fff;
    background: none!important;
    padding: 0!important;
    border: none!important;
}

.josiane-title-wrapper {

    margin: 120px 0 20px 0;
    img {
        height: 30px;

        &.josiane-title {
            margin-left: 10px;
        }
    }
}

.vertical-aglign {
    .josiane-title-wrapper {
        margin: 0px 0 20px 0;
    }
}

.text-page {
    color: #fff;
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    line-height: 17px;
}

.post-list {
    border: 1px solid #ffffff;
    margin: 10px 0;
    position: relative;
    .thumb {
        width: 100%;
    }
}

.overflow-y {
    overflow-y: scroll!important;
}

.height-100 {
    height: 100vh;
}

.wp-titles-main-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Helvetica 65 Medium';
    color: #fff;
    text-align: center;

    transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    text-shadow: 2px 2px #000;
}

.post-list {
    &:hover {
        .wp-titles-main-title {
            visibility: hidden;
        }

        .wp-tiles-byline {
            //visibility: visible;
            opacity: 1;
        }
    }
}

.wp-tiles-byline {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;
    color: rgb(0, 59, 94);
    word-wrap: break-word;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    //visibility: hidden;
    opacity: 0;
}

.wp-tiles-byline-wrapper {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #003b5e;
    margin: 0 30px;
    margin-top: 57.5px;
}

.wp-tiles-byline-content {
    font-size: 13px!important;
    font-family: 'Helvetica-Neue';
    font-weight: 300;
    padding-top: 0!important;
}


.wp-tiles-byline-title {
    font-size: 25px;
    font-family: Helvetica\ 65 Medium;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {

}

.main-page {
    .only-text {
        padding: 0 15px!important;
        margin-bottom: 20px;
        text-align: justify;
        font-size: 14px;
    }
}

.single-post {
    .josiane-title-wrapper {
        margin: 0;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.title-post {
    h1 {
        font-size: 53px;
        border-bottom: 1px solid #fff;
        font-weight: 400;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 80px;
    }
}

.post-footer {
    .josiane-share {
        width: 80%;
        margin-bottom: 20px;
    }

    .title-share {
        text-align: center;
    }

    .network-list  {
        text-align: center;

        .icon-fb {
            margin: 0 20px;
        }

        img {
            width: auto;
        }
    }

    .back-link {
        text-align: center;
        a {
            font-family: Helvetica-Neue;
            font-weight: 300;
            color: #fff;
            font-size: 24px;
            display: inline-block;
            padding: 20px 20px 15px;
            border: 1px solid #fff;
        }
        padding: 20px 0;
    }
}

#slider {
    display: none;
    background-color: #003b5e!important;
    border-color: #1d1d1d!important;
    color: #fff!important;
    text-shadow: none!important;
    box-shadow: 5px 0 5px rgba(0,0,0,.15);
    z-index: 1000;
    text-align: center;
    a {
        text-align: center;
        color: #fff!important;
        text-shadow: none!important;
        font-size: 20px;
    }

    li {
        text-align: center;
        margin: 30px 0;
    }

    #josiane-title {
        width: auto;
        margin: 20px 0;
    }
}

.vc_row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.vc_column_container  {
    &>.vc_column-inner {
        padding-left: 0;
        padding-right: 0;
    }
}

.other {
    margin: 0 auto;
    margin-top: 65px;
    padding: 0 7.5px;
    .previous-post {
        height: 177px;
        background-size: cover;
        width: 100%;
        float: left;

        position: relative;
        border: 1px solid #FFFFFF;
        &:hover {
            .titles {
                visibility: visible;
                opacity: 1;
            }

            .wp-titles-main-title {
                visibility: hidden;
            }
        }
        &.middle {
            margin: 10px 0;
        }
    }

    .next-post {
        height: 200px;
        background-size: cover;
        width: 50%;

    }

    .titles {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.85);
        color: #fff;
        bottom: 0;
        padding: 5px 5px 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s linear;
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        word-wrap: break-word;
        opacity: 0;

        .titles-wrapper {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid #003b5e;
            margin: 15% 30px;
        }

        .title {
            margin: 0;
            overflow: hidden;
            padding: 5px;
            padding-top: 2px;
            font-size: 20px;
            font-family: 'Helvetica 65 Medium';
            color: #003b5e;
        }

        .subtitle {
            padding: 5px;
            font-size: 0.7em;
            font-weight: normal;
            overflow: hidden;
            color: #003b5e;
        }
    }
}