body {
    font-family: Helvetica-Neue;
    &.page, &.single {
        background: #003b5e;
    }
    font-family: 'Helvetica-Neue';
}

.page-title, .page-text {

}

.page-text {
    width: 1145px;
    position: absolute;
    left: -6000px;
}

.main-wrapper {
    width: 1145px;
    margin: 0 auto;
    padding-bottom: 40px;
    .page-title-wrapper {
        width: 369px;
        height: 62px;
        float: left;
    }

    .page-title {
        display: none;
    }

    .image-page-wrapper {
        float: left;
        width: 369px;
        &.title-h1 {
            width: auto;
        }

        img {
            height: 62px;
        }
    }

    .image-site-wrapper {
        float: left;
    }

    .josiane-title-wrapper {
        height: 62px;
        margin-bottom: 20px;
        .josiane-title {
            margin-left: 15px;
        }
    }

    .text-page {
        color: #FFFFFF;
        font-size: 14px;
        margin: 0px 0;
        font-weight: 300;
        line-height: 17px;
        .p1 {
          letter-spacing: 1px;
        }
    }

    .text-title {
        color: #ffffff;
        font-size: 65px;
        font-family: 'Helvetica 65 Medium';
        line-height: 65px;
        display: inline-block;
    }
}


h1 {
    font-size: 65px;
    line-height: 65px;
    color: #fff;
    font-family: 'Helvetica 65 Medium';
    margin-right: 20px;
}

.navbar-main {
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 100;
    .menu-item {
        float: none;
        margin-left: 0!important;
        text-align: right;
        &:hover {
            background-color: #1a4e6f;
        }

        &.current-menu-item {
            background-color: #1a4e6f;
        }
        a {
            text-transform: uppercase;
            padding: 4px 20px 0;
            display: inline-block;
            color: #fff;
            font-family: 'Helvetica-Neue';
            font-size: 14px;
            &:hover {
                text-decoration: none;
            }

            &:focus {
                text-decoration: none;
            }
        }
    }
}

.navbar-lang {
    position: fixed;
    right: 20px;
    top: 235px;
    z-index: 100;
}

.wp-tiles-byline-title {
    font-size: 20px;
    font-family: 'Helvetica 65 Medium';
}

.wp-tiles-byline {
    visibility: hidden;
    opacity: 0;
    color: #003b5e!important;
    max-height: 100%;
    transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
}

.wp-tiles-byline-wrapper {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #003b5e;
    margin: 15% 30px;
}

.wp-tiles-tile:hover .wp-tiles-byline {
    visibility: visible;
    opacity: 1;
}

.wp-tiles-tile-bg {
    transition: none;
}

.wp-tiles-tile-with-image .wp-tiles-byline-content {
    font-family: 'Helvetica-Neue';
    font-weight: 300;
    padding-top: 0!important;
}

.wp-tiles-tile-with-image .wp-tiles-byline-title {
    padding-bottom: 0!important;
}

.wp-tiles-tile {
    background: none!important;
}

.wp-tiles-byline-content {
    font-size: 13px!important;
}

.wp-tiles-byline-title {
    font-size: 25px;
}

.bordered-img {
    border: 1px solid #FFFFFF;

    img {
        border: 1px solid #FFFFFF;
    }
}

.wp-titles-main-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Helvetica 65 Medium';
    color: #fff;
    text-align: center;

    transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.wp-tiles-tile {
    &:hover {
        .wp-titles-main-title {
            visibility: hidden;
        }
    }
}
